@import "public/css/private/res.less";


/* LARGE SCOPE ==================================================================================== */

* {
  margin: 0;
  box-sizing: border-box;
}

html, button, input {
  font-family: 'Raleway', ariel, sans-serif;
  font-size: 11pt;
  color: @white;
}

html, body {
  // necessary for stacking rows in body
  height: 100%;
  padding: 0;
  margin: 0;
  // this is "min-width" to fix a mobile screen error, used to be "width"
  min-width: 100%;
}

body {
  // header image
  background: @grayLight url(@bannerImage) repeat-x 50% 0;
  // starts stacking rows in body
  display: flex;
  flex-direction: column;
  // the position is set to absolute to fix a mobile screen error, used to not be here
  position: absolute;
  
  // make edges Crisp
  image-rendering: optimizeSpeed;             /*                     */
  image-rendering: -moz-crisp-edges;          /* Firefox             */
  image-rendering: -o-crisp-edges;            /* Opera               */
  image-rendering: pixelated;                 /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
  
}

h1, p, section {
  /* this is for eliminating unnecessary margins that on are some things by default */
  margin: 0;
}

h1 {
  // make titles big
  font-size: 35pt;
}

*::selection {
  background-color: @headerColorSelection;
  color: @white;
}

*::-moz-selection {
  background-color: @headerColorSelection;
  color: @white;
}

a {
  /* all links should be the highlight color */
  color: @cyan;
  text-decoration: none;
}

a:hover {
  color: @white;
  text-decoration: none;
}

#right-nav {
  width: 260px;
  background-color: @grayMid;
}

button:hover {
  font-size: 10pt;
  cursor: pointer;
  background-color: @grayLight;
  color: @white;
}

button {
  color: @cyan;
  font-size: 10pt;
  font-family: "Raleway";
  border: none;
  padding: 5px 10px;
  background-color: @grayDark;
}

input {
  background-color: @grayLight;
  font-size: 10pt;
  border: none;
  font-family: "Raleway";
  color: @white;
  padding: 5px;
}

input:focus {
  border-bottom: 2px @white;
}

form {
  max-width: 340px;

  >* {
    margin-top: 5px;
  }

  >:nth-child(1) {
    margin-top: 0;
  }
}

label {
  line-height: 25px;
}

.code {
  font-family: "Anonymous Pro", monospace;
  font-size: 10pt;
  background-color: @grayVoid;
  padding: 5px;
  white-space: pre-wrap;
  word-break: break-word;
  
  height: 300px;
  overflow-y: auto;
  resize: vertical;
}


/* MAIN ===================================================== */
main {
  // expands the main section out, forces header and footer to top and bottom
  flex-grow: 1;

  #left-col {
    margin: 20px 0;
    flex: 1 1;
  }

  #center-col {
    margin: 20px;
    background-color: @grayMid;
    padding: 20px;
    max-width: 680px;
    flex: 1 1 680px;
  }

  #right-col {
    z-index: 1;
    margin: 20px 20px 20px 0;
    flex: 1 0;
  }
}



.flexbox { display: flex; }

.flexbox-column:extend(.flexbox) { flex-direction: column; }

.flexbox-column-left:extend(.flexbox-column)   { align-items: flex-start; }
.flexbox-column-center:extend(.flexbox-column) { align-items: center; }
.flexbox-column-right:extend(.flexbox-column)  { align-items: flex-end; }
.flexbox-column-top:extend(.flexbox-column)    { justify-content: flex-start; }
.flexbox-column-middle:extend(.flexbox-column) { justify-content: center; }
.flexbox-column-bottom:extend(.flexbox-column) { justify-content: flex-end; }

.flexbox-row:extend(.flexbox) { flex-direction: row; }

.flexbox-row-left:extend(.flexbox-row)   { justify-content: flex-start; }
.flexbox-row-center:extend(.flexbox-row) { justify-content: center; }
.flexbox-row-right:extend(.flexbox-row)  { justify-content: flex-end; }
.flexbox-row-top:extend(.flexbox-row)    { align-items: flex-start; }
.flexbox-row-middle:extend(.flexbox-row) { align-items: center; }
.flexbox-row-bottom:extend(.flexbox-row) { align-items: flex-end; }


.flex                { display: flex; flex-wrap: wrap; align-content: flex-start; }
 
.flex.row            { flex-direction: row;    }
.flex.column         { flex-direction: column; }
 
.flex.row.reverse    { flex-direction: row-reverse;    }
.flex.column.reverse { flex-direction: column-reverse; }
 
.flex.nowrap         { flex-wrap: nowrap; }
 
.flex.row.left       { justify-content: flex-start; }
.flex.row.center     { justify-content: center;     }
.flex.row.right      { justify-content: flex-end;   }
.flex.row.top        { align-items: flex-start; align-content: flex-start; }
.flex.row.middle     { align-items: center;     align-content: center;     }
.flex.row.bottom     { align-items: flex-end;   align-content: flex-end;   }
 
.flex.column.left    { align-items: flex-start; align-content: flex-start; }
.flex.column.center  { align-items: center;     align-content: center;     }
.flex.column.right   { align-items: flex-end;   align-content: flex-end;   }
.flex.column.top     { justify-content: flex-start; }
.flex.column.middle  { justify-content: center;     }
.flex.column.bottom  { justify-content: flex-end;   }

.flex.around         { justify-content: space-around; }
.flex.between        { justify-content: space-between; }
.flex.evenly         { justify-content: space-evenly; }
 
.flex.row.reverse.left      { justify-content: flex-end;   }
.flex.row.reverse.right     { justify-content: flex-start; }
.flex.column.reverse.top    { justify-content: flex-end;   }
.flex.column.reverse.bottom { justify-content: flex-start; }

