<!-- This is a static file -->
<!-- This is the base file for the website. Anything that is present on every (or the vast majority of) pages -->

<!DOCTYPE html>
<html>
  <head>
    
    <!-- the usual page header information -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="theme-color" content="#444A8B" />
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/5dce4cb1-f48b-44b6-92cc-e338cf68eb7f%2Fpajamy.png?1526963133306" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="themes/default/base.css">
    <link rel="stylesheet" href="themes/default/drawer.css">
    
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    
    <!-- web-app is https, so scripts need to be too -->
    <script src="/client.js"></script>
    <script src="/hamburgerMenu.js"></script>
    
    <!-- injecting code from pages into base's head -->
    {% block pageHead %}
    {% endblock %}
  
  </head>
  <body class="flexbox">
      {% block drawer %}
      {% endblock %}
    
    <!-- first we set up the header -->
    <header>
        <!-- this is the BANNER at top of page for links -->
        {% block headerBanner %}
        {% endblock %}
      
        <!-- this is the HEADERNAV at top of page for links -->
        {% block headerNav %}
        {% endblock %}
    </header>
    
    
    <!-- now the main meat of the page. the good stuff -->
    <main>
      <div class="flexbox-row-top">
        <!-- this is the LEFT COLUMN of the entire site -->
        <div class="column" id="left-col">
          <!-- this should pretty much always be empty -->
        </div>
        
        <!-- this is the CENTER COLUMN of the entire site -->
        <div class="column" id="center-col">
          {% block centerCol %}
            <!-- CENTER COLUMN CONTENT -->
          {% endblock %}
        </div>

        <!-- this is the RIGHT COLUMN of the entire site -->
        <div class="column" id="right-col">
          {% block rightCol %}
            <!-- RIGHT COLUMN CONTENT -->
          {% endblock %}
        </div>
      </div>
    </main>
    
    <footer>
      <!-- anything that sits at the very bottom after all the content goes here -->
      {% block footer %}
      {% endblock %}
    </footer>
    
  </body>
</html>