<!-- index is an extension of the base.html page, where everything actually happens -->
{% extends 'base.html' %}

<!-- inject into header of parent -->
{% block pageHead %}
  <title>pawb.in :: Creatures</title>
  <link rel="stylesheet" href="/themes/default/creatures.css">
{% endblock %}

<!-- stuff to put into the center column -->
{% block centerCol %}
  <div class="flexbox-row-center" id="creatures">
    {% include "comp/creature-block.html" %}
    {% include "comp/creature-block.html" %}
    {% include "comp/creature-block.html" %}
    {% include "comp/creature-block.html" %}
    {% include "comp/creature-block.html" %}
    {% include "comp/creature-block.html" %}
    {% include "comp/creature-block.html" %}
    {% include "comp/creature-block.html" %}
  </div>
{% endblock %}