<!-- index is an extension of the base.html page, where everything actually happens -->
{% extends 'base.html' %}

<!-- inject into header of parent -->
{% block pageHead %}
  <title>pawb.in</title>
{% endblock %}

<!-- stuff to put into the center column -->
{% block centerCol %}
  <div class="form-container" name="signup">
    <form class="validate" name="signup" action="/signup" onsubmit="" method="post">
      <div class="form-group">
          <label>email</label>
          <input type="text" class="" name="email">
      </div>
      <div class="form-group">
          <label>username</label>
          <input type="text" class="" name="username">
      </div>
      <div class="form-group">
          <label>nickname</label>
          <input type="text" class="" name="nickname">
      </div>
      <div class="form-group">
          <label>password</label>
          <input type="password" class="" name="password">
      </div>
      <div class="form-group">
          <label>confirm password</label>
          <input type="password" class="" name="confirmPassword">
      </div>

      <button type="submit" class="">sign up</button>
    </form>
  </div>
{% endblock %}