
<div class="flexbox-column-center" id="user-nav">
  <!-- avatar here -->
  <div id="avatar">
    <img src="https://cdn.glitch.com/5dce4cb1-f48b-44b6-92cc-e338cf68eb7f%2Fpajamy.png?1526963133306">
  </div>
  
  <!-- the player's name -->
  <div id="name">
    {{ user.local.username if loggedIn else "noname" }}
  </div>
  
  <!-- player's currency: normal and premium -->
  <div class="flexbox-row" id="currency">
    <div class="flexbox-row-right" id="currency-free">
      <div>
        34 ¢
      </div>
    </div>
    <div class="flexbox-row-left" id="currency-paid">
      <a href="/premium">
        126 $
      </a>
    </div>
  </div>
</div>