@import "res.less";

#header-nav {
  background-color: @grayMid;
  padding: 0 10px;
  font-size: 10pt;
  justify-content: space-between;
  
  ul {
    padding: 10px;
    display: flex;
    margin: 0;
    
    li {
      display: block;
      margin: 0 10px;
      
      a {
        text-decoration: none;
      }
    }
  }
}

#quick-login {
  input, button {
    margin: 5px;
  }
  
  a {
    display: block;
    padding: 5px 10px;
    background-color: @grayDark;
  }
  
  a:hover {
    background-color: @grayLight;
  }
  
  #signup-button {
    margin: 5px;
  }
}

#quick-logout {
  margin: 5px;
  
  a {
    display: block;
    padding: 5px 10px;
    background-color: @grayDark;
  }
  
  a:hover {
    background-color: @grayLight;
  }
}