/* colors =========================== */

@white:       hsla(  0,   0%, 100%, 100%);
@grayLight:   hsla(262,  10%,  21%, 100%);
@grayMid:     hsla(252,  11%,  18%, 100%);
@grayDark:    hsla(256,  15%,  15%, 100%);
@cyan:        hsla(187, 100%,  42%, 100%);
@headerColor: hsla(236,  35%,  41%, 99%);

/* heights and widths =========================== */

/* links =========================== */

@bannerImage: "https://cdn.glitch.com/5dce4cb1-f48b-44b6-92cc-e338cf68eb7f%2Fspoopyheader.png";



