{% extends 'comp/base.html' %}

<!-- stuff to put into the center column -->
{% block mainContent %}
<div class="island">
  <h2 class="textcenter">
    <span class="test-message">Welcome</span> to pawbin!
  </h2>
  <p class="textcenter">
    A website for virtual creature collection!
  </p>
  <p>
    The world of pawbin is host to a wide variety of incredible and mysterious creatures...
  </p>
  <h6 class="textcenter">
    show some creatures here
  </h6>
  <p>
    Explore biomes, collect creatures, and participate in events! Customize, trade, and sell creatures to 
  </p>
</div>
<div class="island">
  <h2 class="textcenter">
    Recent News
  </h2>
</div>
{% endblock %}