{% extends 'comp/base.html' %}

<!-- inject into header of parent -->
{% block pageHead %}
<title>pawb.in :: inventory</title>
{% endblock %}

{% block scripts %}
<script src="/js/searchbar.js"></script>
{% endblock %}

<!-- stuff to put into the center column -->
{% block mainContent %}
<div id="inventory" class="island">
  <div class="heading searchbar">
    <h2>
      Inventory
    </h2>
    <input class="inline js-search" placeholder="search...">
  </div>
  <div class="grid">
    {% for item in ['stick', 'leaf', 'gem', 'something else'] %}
    <div class="row js-search-item">
      <a href="/inventory/{{ item }}">
        <img src="https://cdn.glitch.com/3ffbe794-725c-40ae-b812-76257af22230%2Ficon_pajamy.png?v=1556597301416">
        <h6 class="js-search-criteria">
          {{ item }}
        </h6>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<div class="island">
  {% markdown %}
  * show list of every item the player has, and quantity
  * badges may also be shown in detail here? maybe a separate page for badges
  {% endmarkdown %}
</div>
{% endblock %}