{% extends 'comp/base.html' %}

<!-- stuff to put into the center column -->
{% block mainContent %}

  <form name="resetpassword" id="resetPassword" action="/resetpassword" onsubmit="" method="post">
    <div class="form-group">
      <label>new password</label>
      <input type="password" class="" name="password">
    </div>
    <div class="form-group">
      <label>confirm password</label>
      <input type="password" class="" name="confirmPassword">
    </div>
    <button type="submit" class="">reset password</button>
  </form>

{% endblock %}