<!-- _DB.user.creaturesRef.creatureRef -->
<!-- index is an extension of the base.html page, where everything actually happens -->
{% extends 'private/base.html' %}

<!-- inject into header of parent -->
{% block pageHead %}
  <title>pawb.in :: Creatures</title>
  <link rel="stylesheet" href="/css/public/creatures.css">
{% endblock %}

<!-- stuff to put into the center column -->
{% block centerCol %}
  <h3>
    Creatures
  </h3><br>
  <div class="flexbox-row-center" id="creatures">
    
    {% for creature in _DB.user.creaturesRef %}     
    <div class="creature-block flexbox-column-center">
      <div class="creature-block-image flexbox-row-center">
        <img src="{{ creature.creatureRef.image }}">
      </div>
      <div class="creature-block-details flexbox-column-center">
        <div class="creature-block-name">
          {{ creature.creatureRef.name }}
        </div>
        <a href="https://pawbin.glitch.me/release/{{ creature._id }}"><button class="creature-block-release">X</button></a>
      </div>
    </div>
    {% endfor %}
    
  </div>
{% endblock %}

{% block code %}
  {{- _DB.user.creaturesRef | dump(2) -}}
{% endblock %}