
<!-- index is an extension of the base.html page, where everything actually happens -->
{% extends 'private/base.html' %}

<!-- inject into header of parent -->
{% block pageHead %}
  <title>pawb.in :: Profile</title>
{% endblock %}

<!-- stuff to put into the center column -->
{% block centerCol %}
    <div class="code">
      {{- userdump | dump(2) -}}
    </div>
    <form name="updateemail" id="epdateEmail" action="/updateemail" onsubmit="" method="post">
      <div class="form-group">
        <label>new email</label>
        <input type="text" class="" name="newEmail">
      </div>
      <div class="form-group">
        <label>password</label>
        <input type="password" class="" name="password">
      </div>
      <button type="submit" class="">update email</button>
    </form>
    <br>
    <form name="updatepassword" id="updatePassword" action="/updatepassword" onsubmit="" method="post">
      <div class="form-group">
        <label>current password</label>
        <input type="password" class="" name="password">
      </div>
      <div class="form-group">
        <label>new password</label>
        <input type="password" class="" name="newPassword">
      </div>
      <div class="form-group">
        <label>confirm new password</label>
        <input type="password" class="" name="confirmNewPassword">
      </div>
      <button type="submit" class="">update password</button>
    </form>
{% endblock %}