<!-- index is an extension of the base.html page, where everything actually happens -->
{% extends 'private/base.html' %}

<!-- inject into header of parent -->
{% block pageHead %}
  <title>pawb.in :: World Map</title>
  <link rel="stylesheet" href="/css/public/worldmap.css">
  <script src="/js/worldmap.js"></script>
{% endblock %}

<!-- stuff to put into the center column -->
{% block centerCol %}
  <div id="worldmap">
    <div class="flexbox-column-center">
      <canvas id="worldmap-canvas"></canvas>
    </div>
  </div>
{% endblock %}