<!-- This is the base file for the website. 
     Anything that is present on every (or the vast majority of) pages.
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block pageHead %}
    <!-- for adding code from other pages into head -->
    {% endblock %}
    
    <!-- hidden page header info -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- visible page header info -->
    <title>pawb.in</title>
    <meta name="description" content="A website for virtual creature collection!">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/3ffbe794-725c-40ae-b812-76257af22230%2Ficon_pajamy.png?1556597301416" type="image/x-icon">
    <meta name="theme-color" content="#444a8b"/>
  
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600|Anonymous+Pro" rel="stylesheet">
    
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/comp/base.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
    <!-- client scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/api.js"></script>
    
    {% block styles %}
    <!-- for adding page-specific css -->
    {% endblock %}
  </head>
  <body>
    {% include 'comp/notif.html' %}
    {% include 'comp/drawer.html' %}
    <div class="layout">
      
      <div class="banner">
        <div class="title">
          <a href="/"><h1>pawb.in</h1></a>
        </div>
        <div class="time">
          {% include 'comp/nycthemericon.html' %}
        </div>
      </div>
      
      <div class="navbar">
        <nav>
          <a href="/"       >Home</a>
          <a href="/news"   >News</a>
        </nav>
        {% include 'comp/quick-log.html' %}
      </div>
      
      <div class="column left"></div>
      
      <div class="column center">
        <main class="content">
          {% if user.rights == "admin" %}
          <script src="/js/renderjson.js"></script>
          <script>
            $(() => {
              var $renderThese = $('.renderjson');
              renderjson.set_icons('► ', '▼ ');
              renderjson.set_show_to_level(1);
              $renderThese.each((i, el)=>{
                let $el = $(el);
                $el.replaceWith(renderjson(JSON.parse($el.text())));
              });
            });
          </script>
          <div id="codedump" class="island hidden">
            <pre class="renderjson">
            {%- block code -%}
            {{- getContext() | dump(2) -}}
            {%- endblock -%}
            </pre>
          </div>
          {% endif %}
          {% block mainContent %}
          <!-- content from other pages goes here -->
          {% endblock %}
        </main>
      </div>
      
      <div class="column right">
        {% include 'comp/usernav.html' %}
      </div>
      
      <footer>
        <nav>
          <a href="/about"     >About Us</a>
          <a href="/changelog" >Changelog</a>
          <a href="/tos"       >Policy / ToS</a>
          <a href="/support"   >Support</a>
        </nav>
      </footer>
    </div>
  </body>
  {% block scripts %}
  <!-- for adding page-specific js -->
  {% endblock %}
</html>
