    
<div class="drawer-button" id="drawer-open-button">
  <img src="https://cdn.glitch.com/5dce4cb1-f48b-44b6-92cc-e338cf68eb7f%2Fhamburger.svg">
</div>
<div id="drawer-cloak"></div>
<div id="drawer">
  <div class="flexbox-column">
    
    
    <div class="flexbox-column" id="drawer-header">
      
      <div class="flexbox-row" id="drawer-user">
        <div class="drawer-button" id="drawer-close-button">
          <img src="https://cdn.glitch.com/5dce4cb1-f48b-44b6-92cc-e338cf68eb7f%2Fhamburger.svg">
        </div>
        <p>
          name
        </p>
      </div>
      
      {% include 'comp/header-nav.html' %}
    </div>

    
    <div id="drawer-content">
      {% include 'comp/quick-nav.html' %}
    </div>
    
    
  </div>
</div>