<script src="/js/notif.js"></script>

<div class="notifs">
  <div class="reference-notif">
    <div class="notif">
      <!-- content will be filled automatically -->
      <p class="content"></p>
      <div class="notif-close">
        <span class="fas fa-times"></span>
      </div>
    </div>
  </div>
  
  <!-- display all current notifications -->
  {% for notif in notifs %}
    <div class="{{'notif notif-' ~ (notif.type or 'basic')}}">
      <p class="content">
        {{ notif.content|safe }}
      </p>
      <div class="notif-close">
        <span class="fas fa-times"></span>
      </div>
    </div>
  {% endfor %}
</div>