
<div id="quick-nav">
  <ul>
    <li><a href="/profile"   ><i class="fas fa-user-alt"     ></i><span class="nav-words"> Profile</span></a></li>
    <li><a href="/creatures" ><i class="fas fa-paw"          ></i><span class="nav-words"> Creatures</span></a></li>
    <li><a href="/worldmap"  ><i class="fas fa-globe"        ></i><span class="nav-words"> World Map</span></a></li>
    <li><a href="/bestiary"  ><i class="fas fa-book"         ></i><span class="nav-words"> Bestiary</span></a></li>
    <li><a href="/exchanges" ><i class="fas fa-exchange-alt" ></i><span class="nav-words"> Exchanges</span></a></li>
    <li><a href="/inventory" ><i class="fas fa-suitcase"     ></i><span class="nav-words"> Inventory</span></a></li>
    <li><a href="/settings"  ><i class="fas fa-cog"          ></i><span class="nav-words"> Settings</span></a></li>
  </ul>
</div>