
<div id="user-nav">
  <!-- avatar here -->
  <div id="avatar">
    
  </div>
  
  <!-- the player's name -->
  <div id="name">
    
  </div>
  
  <!-- player's currency: normal and premium -->
  <div id="currency">
    <span></span><span></span>
  </div>
  
  <ul id="quick-nav">
    <li><a href="profile.html"   ><i class="fa fa-home"     ></i><span class="nav-words"> Profile</span></a></li>
    <!--<li><a href="creatures.html" ><i class="fa fa-paw"      ></i><span class="nav-words"> Creatures</span></a></li>
    <li><a href="worldmap.html"  ><i class="fa fa-globe"    ></i><span class="nav-words"> World Map</span></a></li>
    <li><a href="bestiary.html"  ><i class="fa fa-book"     ></i><span class="nav-words"> Bestiary</span></a></li>
    <li><a href="exchanges.html" ><i class="fa fa-exchange" ></i><span class="nav-words"> Exchanges</span></a></li>
    <li><a href="inventory.html" ><i class="fa fa-suitcase" ></i><span class="nav-words"> Inventory</span></a></li>
    <li><a href="settings.html"  ><i class="fa fa-cog"      ></i><span class="nav-words"> Settings</span></a></li>-->
  </ul>
</div>